@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    min-height: 100vh;
    background: linear-gradient(black,#1A1A1A);
    
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
header .logo{
    color: #f8e783;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items:center
    
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
section img  {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img  {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img  #front{
    z-index: 10;
}
 
#text{
    position: absolute;
    color: #f8e783;
    white-space: nowrap;
    font-size: 7.5vw;
     z-index: 9;
 }

 .sec{
    position: relative;
    padding: 30px;
    background-color: #132c28;
    color: #f8e783;
 }
 .neon{
    margin-bottom: 10px;
 }

 .text-signed{
    text-decoration: line-through;
 }
 .img-drunk{
    width: 100%;
    height: 30vh;
    background: url('img/sasy_drunk.jpg');
     background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 10px;
 }
 
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #132c28;
    margin: auto;
    padding: 20px;
     width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
     font-weight: bold;
     margin-bottom: 100px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }